* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}

/* slider */
.slider {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.slider .slider-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider .slider-inner .slider-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.slider .slider-inner .slider-slide img {
  width: 30vw;
  height: auto;
  object-fit: cover;
  opacity: 0;
}

/* slider title */

.slider-titles {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
  overflow: hidden;
  mix-blend-mode: difference;
  color: #f5f5f5;
}

.slider-titles .slider-title {
  position: absolute;
  top: 0;
  left: 20vw;
  width: max-content;
  height: 10rem;
  font-size: 10rem;
  font-weight: 600;
}

/* canvas */

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* loader */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #f5f5f5;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
}

.loader.is-loaded {
  opacity: 0 !important;
}

.loader h1 {
  font-size: 10rem;
}
